.main2 {
	width: 33.33%;
	text-align: center;
	margin-bottom: 25px;
}

.table1 {
	background-color: #4285F4;
	border: 1px solid white;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.td1 {
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

.td11 {
	border-right: 1px solid white;
}

.td2 {
	border-bottom: 1px solid white;
}

td {
	padding: 1%;
}
