.main1 {
	width: 33.33%;
	text-align: center;
}

.button2 {
	padding: 2%;
	width: 80%;
	color: white;
	background-color: #DB4437;
	border: 1px solid white;
	text-align: center;
}

.button2:hover {
	background-color: #222222;
	color: #DB4437;
	border: 1px solid #DB4437;
	cursor: pointer;
}

.line {
	margin: 0px;
}
